/* import 'node_modules/bootstrap/dist/css/bootstrap.min.css'; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    overflow-x: hidden;
  }
  li{
    list-style: none;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  
  }
  .container_1{
    margin: 20px;
  }
  img{
    width: 100%;
  }
  .main{
    padding: 30px;
  }
  .main img{
    width: 150px;
  }
  .dropdown-toggle{
    margin-right: 30px;
    text-transform: uppercase;
  }
  .nav-link{
    margin-right: 30px;
    text-transform: capitalize;
  }
  .img_26{
    position: relative;
  
  }
  .hover{
    /* position: absolute; */
    top: 0;
    left: 0;
    /* background-color: #E2DD00; */
    z-index:2;
  }
  
   .carousel-caption{
    /* margin-bottom: 100px; */
    padding-bottom: 10px ;
    left: 11%;
    /* margin-right: 300px; */
  }
  .carousel-caption h3{
    color: #E2DD00;
    text-transform: uppercase;
    /* letter-spacing: 3px; */ 
    /* margin-right: 650px; */
  }
  .carousel-caption h1{
    text-transform: uppercase;
    font-size: 65px;
  }
  .carousel-caption p{
    color: #636363;
  } 
  
  
  
  .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      justify-content: start;
      padding: 10px 307px;
      margin-right: 15%;
      margin-bottom: 1rem;
      /* margin-left: 15%; */
  }
  
  .carousel-control-prev {
      left: 0;
      display: block;
  }
  .carousel-caption {
      position: absolute;
      right: 16%;
      /* bottom: 500px; */
      left: 15%;
      /* padding-top: 1.25rem; */
      padding-bottom: 1000px;
      padding-right: 700px;
      color: #fff;
      text-align: center;
  }
  
  .dropdown-toggle{
    /* margin-left: 20px; */
    text-transform: capitalize;
    font-size: 13px;
  }
  nav a{
    text-transform: capitalize;
  }
  .navbar-collaps
  {
        margin-left: 100px;
  }
  
  
  
  
  .stay_now{
    margin: 20px 0px;
    background-color: #F8F9FA;
    padding-bottom: 50px;
  }
  .section_title{
    text-align: center;
  }
  .section_title h5{
    font-size: 12px;
    color: #636363;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 80px;
  }
  .section_title h2{
    font-size: 38px;
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
    /* padding: 0px 50px; */
    padding: 0px 20px;
  }
  .section_title>img{
      width: 200px;
  }
  .section_title p{
    font-size: 14px;
    margin-top: 10px;
    color: #636363;
    font-weight: 500px;
  
  }
  .icon_img>img{
    float: left;
    margin-right: 30px;
    width: 60px;
  }
  .icon_text{
    margin: 20px;
  }
  .icon_text h5{
    font-size: 13px;
    font-weight: 800;
    color: #363636;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 17px;
  }
  .icon_text p{
    color: #636363;
    font-size: 14px;
    margin-left: 68px;
  }
  .date_now{
    background-color: #F8F9FA;
    margin: -20px 0px;
    /* background-color: #F8F9FA; */
    padding-bottom: 100px;
  }
  .date_title{
    text-align: center;
  }
  .date_title h5{
    font-size: 12px;
    color: #636363;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 80px;
  }
  .date_title h2{
    font-size: 38px;
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
    /* padding: 0px 50px; */
    padding: 0px 20px;
  }
  .date_title>img{
      width: 200px;
  }
  .date_title p{
    font-size: 20px;
    color: #636363;
    font-weight: 500px;
  
  }
  .latest_icon img{
    width: 100px;
  }
  .single_item{
    margin: 30px;
    /* padding: 30px; */
  }
  .latest_icon>img{
    margin: 0px 60px;
    width: 60px;
  }
  .latest_content h5{
    text-transform: uppercase;
    margin: 20px;
    font-size: 13px;
    font-weight: 700;
  }
  .latest_content p{
    color: #636363;
    font-size: 13px;
  }
  .fun_area{
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(./image/fun.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    /* background-attachment: fixed; */
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(0, 0, 0, 0.5); */
  }
  
  .fun_content{
    z-index: 2;
    position: relative;
    margin: 100px 80px;
  }
  .fun_content p{
    color: #cccccc;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  .f{
      font-size: 70px;
      color: #e2dd00;
      font-weight: 300;
      font-family: 'Montserrat', sans-serif;
  }
  .single_fun{
    display: flex;
  }
  .title{
    margin: 50px 0px;
  }
  .title img{
    width: 170px;
    padding-bottom: 20px;
  }
  .title h2{
      font-size: 38px;
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 10px;
  }
  .title p{
    color: gray;
  
  }
  .blog_img img{
    padding-bottom: 20px;
  }
  
  .blog_date{
    float: left;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    /* padding: 4px 10px 12px; */
    padding: 5px 10px;
  }
  .blog_text h3{
    margin: 10px 0px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .blog_text h3:hover{
    color: #E2DD00;
  }
  .blog_text ul{
    /* margin-left: 2px; */
    padding: 0px ;
  }
  .blog_text ul li{
    margin-right: 10px;
  }
  .blog_text p{
    margin: 20px 72px;
  }
  .blog_text a:hover{
      color: #E2DD00;
  }
  .blog_text a{
    text-decoration: none;
    color: inherit;
  }
  .single_blog h4 a{
    text-transform: uppercase;
    font-size: 16px;
    color: #636363;
    margin: 0px 50px;
    text-decoration: none;
  }
  .single_blog ul{
    margin: 20px;
  }
  .single_blog ul li{
    margin-right: 10px;
    color: #636363;
    /* margin: 0px 20px; */
  }
  .single_blog p{
    margin: 20px 72px;
  }
  .single_blog a:hover{
      color: #E2DD00;
  }
  .single_blog a{
    color: black;
    text-decoration: none;
    /* color: inherit; */
  }
  .footer_area{
    background-image: url('./image/footer1.webp');
    margin-top: 0;
    /* background-size: cover; */
    padding: 80px 50px;
    background-repeat: no-repeat;
  }
  .main_footer{
    margin-bottom: 40px;
  }
  .single-widget{
    z-index: 1;
    position: relative;
  }
  .footer-logo img{
    width: 150px;
    height: 50px;
    
  }
  .single-widget .add{
    /* margin: 20px 30px; */
    margin-top: 30px;
    color: #959595;
  }
  .single-widget p{
    /* margin: 20px 30px; */
    margin-top: 30px;
    color: #959595;
  }
  .single-widget p span {
    color: #ffffff;
    font-weight: 700;
  }
  
  .footer-social ul li a{
    margin: 0px 5px;
    color: gray;
  }
  .single_widget{
    padding-left: 20px;
  }
  .single_widget h3 {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      margin-top: 35px;
      margin-bottom: 18px;
      margin-left: 30px;
      text-transform: capitalize;
  }
  .single-widget h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 18px;
    margin-left: 30px;
    text-transform: capitalize;
  }
  .tag-wrapper a {
      font-size: 14px;
      color: #959595;
      font-weight: 500;
      font-family: 'Raleway', sans-serif;
      border: 2px solid #555555;
      text-transform: capitalize;
      padding: 7px 18px;
      display: inline-block;
      margin-right: 13px;
      margin-bottom: 18px;
      text-decoration: none;
  }
  .tag-wrapper a:hover{
    background-color: #E2DD00;
  }
  .instagram-wrapper img{
    margin-bottom: 20px;
    /* background-repeat: no-repeat; */
  }
  .news-heffect {
    position: relative;
    overflow: hidden;
    display: block;
  } 
  .item img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .portfolio > img {
      width: 300px;
      height: 400px;
  }
  .owl-item{
    width: 1125px;
  }
  .carousel-control-prev-icon{
    display: none;
  }
  .image>img{
    height: 100px;
    width: 100%;
    border-radius: 50%;
    margin-right: 100px;
    color: #E2DD00;
  }
  .text span{
    text-transform: capitalize;
    color: gray;
  }
  
  
  
  
  
  
  /* start gallery */
  .col-img{
    height: 600px;
  }
  .col-img img{
    height: 582px;
    width: 100%;
  }
  .img_2 img{
    height: 330px;
    width: 100%;
  }
  .img_3 img{
    height: 330px;
    width: 100%;
  }
  /* end gallery */
  .carousel-control-prev-icon {
    background-image: none;
  }
  
  
  /* @media (min-Width: 992px) {
    .section_title{
      margin-left: 25%;
    }
  } */
  
  
  
  
  @media (min-width: 1201px) and (max-width: 1400px){
    .title h2{
      font-size: 32px;
    }
    .section_title h2 {
        margin: 0px 300px;
    }
    .section_title p{
      margin: 20px 353px;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1200px){
   
    .instagram-wrapper img{
      margin-bottom: 10px;
    }
    
    
    .col-img img{
      height: 521px;
    }
    .carousel-caption{
      margin: 0;
      padding: 0;
      /* margin-right: 20px; */
      /* font-size: 20px; */
    }
    .single_blog{
      /* display: flex; */
      margin: 0px;
  
      padding: 0px;
      font-size: 15px;
    }
    .blog_text p{
      margin: 2px;
    }
    .fun_content{
      margin: 0;
    }
    .fun_content h3{
        font-size: 38px;
        margin: 0px 80px;
        margin-top: 100px;     
    }
    .fun_content p{
      font-size: 12px;
    }
    .single_blog h4 a{
      font-size: 12px;
    }
  .title h2{
    font-size: 28px;
  }
  .section_title h2 {
      font-size: 28px;
  }
  .section_title p{
    padding: 12px 280px;
  }
  .date_title h2{
    font-size: 28px;
  }
  .date_title p{
    padding: 12px 280px;
  }
  }
  @media (min-width: 768px) and (max-width: 557px){
    .carousel-caption h1{
      font-size: 30px;
      margin-left: 30px;
    }
     .carousel-caption{
      margin: 0px;
  
     }
  }
  
  
  @media (min-width: 768px) and (max-width: 991px){
    .instagram-wrapper{
      display: flex;
    }
    .news-heffect img {
      /* display: flex; */
      margin-left: 50px;
      height: 36px;
      width: 100px;
      margin-bottom: 20px;
  }
    .footer_area{
      padding: 40px 0px;
    }
    
    .tag-wrapper a{
      padding: 0px 0px;
    }
    .col-img img {
      height: 473px;
      width: 100%;
  }
   
  .carousel-caption {
    /* position: absolute; */
    /* right: 15%; */
    bottom: -535px;
    /* left: 15%; */
    padding-top: 344px;
    padding-bottom: 10px;
    color: #fff;
    /* t
    .col-img img{
      height: 473px;
    }
    .footer_area{
      padding: 0px 0px;
    }
    .instagram-wrapper img{
      margin-bottom: 5px;
    }
   
    
    .single_blog{
      /* display: flex; */
      margin: 0px;
  
      padding: 0px;
      font-size: 15px;
    }
    .blog_text p{
      margin: 2px;
    }
    .fun_content{
      margin: 0;
    }
    .fun_content h3{
        font-size: 34px;
        margin: 0px 50px;
        margin-top: 100px;     
    }
    .fun_content p{
      font-size: 12px;
    }
    
    .single_blog h4 a{
      font-size: 12px;
    }
    .title h2{
      font-size: 25px ;
    }
    .icon_text {
      margin: 50px 0px;
    }
    .icon_text p{
      margin: 0px 20px;
    }
  .section_title h2 {
      font-size: 25px;
  }
  .section_title p{
    padding: 12px 150px;
  }
  .date_title p{
    padding: 12px 150px;
    font-size: 20px;
  }
  .date_title h2{
    font-size: 25px;
  }
  .a_{
    width: 100%;
  }
  }
  
  
  @media (max-width: 767px){
    .carousel-caption {
      position: absolute;
      right: 50%;
      bottom: 1.25rem;
      /* left: 9%; */
      /* padding-top: 48px; */
      /* padding-bottom: 61px; */
      color: #fff;
      text-align: center;
  }
  .section_title h2 {
      font-size: 27px;
  }
  
  }
  @media (min-Width: 1440px){
    .news-heffect img{
      padding-top: 20px;
      display: flex;
      height: 105px;
      width: 190px;
    }
  
    
  .col-img img {
    height: 600px;
    width: 100%;
  }
    .main_header img{
      width: 100px;
    }
    .section_title h2 {
        letter-spacing: 2px;
        margin: 0px 380px;
    }
    .section_title p{
      margin: 12px 450px;
    }
    .date_title h2{
      font-size: 30px;
    }
  }
  /* 
  @media (min-width:320px){
   
  .footer_area {
      margin-top: 0;
      background-size: cover;
      padding: 0px 0px;
      background-repeat: no-repeat;
  }
  
    .img_3 img {
      height: 150px;
      width: 100%;
  }
  .img_2 img {
    height: 150px;
    width: 100%;
  }
  
  .col-img img {
      height: 420px;
      width: 100%;
  }
    
  
  .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: -110px;
      left: 15%;
      padding-top: 196px;
      padding-bottom: 12px;
      color: #fff;
      text-align: center;
  }
  } */
  @media (max-Width: 320px){
    .carousel-caption {
      /* position: absolute;
      right: 15%; */
      /* bottom: 1.25rem; */
      left: 15%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #fff;
      text-align: center;
  }
  }
  
  @media (max-Width: 320px){
  
   .text p{
    margin-left: 2px;
   }
    
   
  
  
    .d-flex{
      display: block;
    }
    .text{
      margin-left: -10px;
  
    }
    .text h1{
      margin-top: 100px;
      font-size: 10px;
    }
    .col-img img{
      height: 600px;
      margin-top: 10px;
    }
    .img_2 img{
      height: 150px;
  
    }
    .img_3 img{
      height: 150px;
    }
    body{
      overflow-x: hidden;
    }
    /* .d-flex {
      display: block;
      margin: 2px 4px;
      font-size: 7px;
  } */
  h1{
    font-size: 20px;
  }
    /* .owl-carousel .owl-item img {
      display: block;
      width: 100%;
  /* }    */
  h1{
  font-size: 20px;
  }
  
    .tag-wrapper a {
      margin: -1px 1px;
      font-size: 10px;
    }
      
  .single-widget{
    display: none;
    margin: 0;
  }
   
  /* .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: -110px;
      left: 15%;
      padding-top: 196px;
      padding-bottom: 12px;
      color: #fff;
      text-align: center;
  } */
  
    .carousel-item {
      position: relative;
      display: none;
      float: left;
    
      /* width: 100%; */
      margin-right: -100%;
      /* backface-visibility: hidden; */
    }
    .footer-logo img{
      height: 30px;
      width: 50px;
      margin: 0;
    }
    
    .owl-stage{
        margin: 0;
        padding: 0;
    }
  
    .tag-wrapper a{
      margin: 10px 1px;
      font-size: 10px;
      /* container: 0px; */
    }
    /* .instagram-wrapper{
      display: flex;
      margin: 0;
    } */
  /*   
    .instagram-wrapper img{
      display: flex;
      height: 100px;
      width: 100px;
      margin: 5px 2px;
      background-size: cover;
      background-repeat: no-repeat;
    } */
    .fun_content{
      margin: 0;
    }
    .fun_content h3{
        font-size: 18px;
        margin: 0px 20px;
        margin-top: 100px;     
    }
    .fun_content p{
      font-size: 7px;
    }
    .single_blog h4 a{
      font-size: 12px;
    }
    
    .title h2{
      font-size: 20px;
    }
    .date_title h2{
      font-size: 20px;
    }
    .date_title p{
      font-size: 14px;
    }
  }
  
  /* @media (max-Width: 767px) {
        .image{
          max-width: 100%;
        }
  } */
  
  
  
  
  
  